@font-face {
  font-family: 'Philosopher-Regular';
  src: url('/Philosopher-Regular.ttf') format('truetype');
}


#root {
  width: 100vw;
  height: 100vh;
  background-color: #ecdcd0;
  font-family: 'Philosopher-Regular', sans-serif;
}
@media(max-screen: 700px){
section{
  padding: 1% 5%;
}
}

body {
  margin: 0;
  
}

.fixScroll {
  position: absolute !important;
  top: 0 !important;
}
/* 
.mobile .back-video {
  
} */

.mobile .interface .interface-part.interface-welcome {
  height: 50vh;
  flex-wrap: wrap;
  /* margin-bottom: 50vh; */
}

.mobile .interface .interface-part.interface-skills {
  transform: translateY(70%);
}

.web #svgSkills {
  width: 586px;
  height: auto;
  transform: translateX(-80%) !important;
  scale: .6;
  margin-right: 6%;
}
@media (min-width: 1600px){
  
.web #svgSkills {
  transform: translateX(-82%) !important;
  scale: .65;
}

}
@media (min-width: 1800px){
  
  .web #svgSkills {
    transform: translateX(-84%) !important;
    scale: .68;
  }
  
 }
@media (min-width: 2000px){
    .web #svgSkills {
      transform: translateX(-90%) !important;
      scale: .9;
    }   
}
.mobile #svgSkills {
  width: 100vw;
  scale: 1.25;
  height: auto;
}

#svgSkills {
  transform: scale(0.3);
  transition: all 0.6s;
}
#svgSkills.active {
  transform: scale(0.7);
}
.mobile .back-video{
  transform: translateX(-55%);
}


