@font-face {
  font-family: "Philosopher-Regular";
  src: url("/Philosopher-Regular.ttf") format("truetype");
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #ecdcd0;
  font-family: "Philosopher-Regular", sans-serif;
}
@media (max-screen: 700px) {
  section {
    padding: 1% 5%;
  }
}

body {
  margin: 0;
}

.fixScroll {
  position: absolute !important;
  top: 0 !important;
}
/* 
.mobile .back-video {
  
} */

.mobile .interface .interface-part.interface-welcome {
  height: 50vh;
  flex-wrap: wrap;
  /* margin-bottom: 50vh; */
}

.mobile .interface .interface-part.interface-skills {
  transform: translateY(70%);
}

.web #svgSkills {
  width: 586px;
  height: auto;
  transform: translateX(-80%) !important;
  scale: 0.6;
  margin-right: 6%;
}
@media (min-width: 1600px) {
  .web #svgSkills {
    transform: translateX(-82%) !important;
    scale: 0.65;
  }
}
@media (min-width: 1800px) {
  .web #svgSkills {
    transform: translateX(-84%) !important;
    scale: 0.68;
  }
}
@media (min-width: 2000px) {
  .web #svgSkills {
    transform: translateX(-90%) !important;
    scale: 0.9;
  }
}
.mobile #svgSkills {
  width: 100vw;
  scale: 1.25;
  height: auto;
}

#svgSkills {
  transform: scale(0.3);
  transition: all 0.6s;
}
#svgSkills.active {
  transform: scale(0.7);
}
.mobile .back-video {
  transform: translateX(-55%);
}

/* styles.css */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heading-contact {
  font-size: 3rem;
  font-weight: bold;
}

.contact-form {
  margin-top: 2%;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 24rem; /* Adjust the width as needed */
  max-width: 100%;
}

.message {
  color: #333;
  text-align: center;
}

.label {
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.input {
  width: 90%;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
}

.validation-error {
  margin-top: 0.25rem;
  color: red;
}

.textarea {
  height: 8rem;
  width: 90%;
  border: none;
  border-radius: 0.25rem;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
}

.submit-button {
  background-color: #f57310;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #f5731085;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel .itemContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.carousel .carouselItem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.25rem;
}

.carousel .itemContainer .itemImage {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.carousel .itemContainer .itemTitle {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.carousel .itemContainer .itemDescription {
  text-align: center;
  margin-bottom: 1rem;
}

.carousel .itemContainer .actionButton {
  background-color: #f57310;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.actionButton:hover {
  cursor: pointer;
  background-color: #f5731085;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.previousButton,
.nextButton {
  background-color: #f57310;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
  outline: none;
  border: none;
}
.previousButton:hover,
.nextButton:hover {
  cursor: pointer;
  background-color: #f5731085;
}
